#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.list{
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}
.list-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border: solid 1px #cdc5c5db;
  border-radius: 2px;
}
.separator {
  width: 0px;
  border-left: solid 1px grey;
  height: inherit;
  min-height: inherit;
}

.list-item>span:nth-child(1) {
  width: 25%;
}

.list-item>span:not(:nth-child(1)) {
  width: -webkit-fill-available;
}

.list>:nth-child(1) {
  font-weight: 600;
}